

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 26);;
    .c-l-footer 
    {
        padding: 2%;
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: space-between;

        .c-l-footer-contact
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 40%;

            .c-l-footer-contact-item {
                width: 50%;
            }

            h1{
                font-size: 2rem;
                width: 50%;
                padding: 2%;
                color:blanchedalmond;
            }
            
            
        }

        .c-l-footer-logo
        {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            .c-u-footer-logo--Figure{
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 50%;
                padding-bottom: 5%;
                padding-left: 5%;
            }

        
        }

        .c-u-footer-content{
            display: flex;
            flex-direction: column;
            height: 50%;
            width: 40%;
            justify-content: center;
            align-items: center;
            padding-top: 5%;
            .c-u-footer-content--Text-Title{
                justify-content: center;
                font-size: 2rem;
                width: 50%;
                padding: 2%;
                color: blanchedalmond;
            } 
            
            .c-u-footer-content--Text-ul-List{
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                width: 50%;
                padding: 2%;
                li{
                    list-style-type: none;
                   a{
                    color: blanchedalmond;
                    text-decoration: none;
                    box-shadow: none;
                   }
                }
            }
        } 
    }
    .c-l-footer--CopyRight{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: rgb(2, 2, 2);
        font-size: 1.5rem;
    }
}
