
@media only screen and (min-width:170px) and (max-width: 1024px){
    
    .Home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: grid;
        grid-template-rows: [r1] 50% [r2] 50%;
        
    }

    

    .c-l-Banner{
        grid-row: r1;
        width: 70vh;
        height: 60vh;
        z-index: 0;
        .c-l-Banner--mask{
           
        }
    }

    .c-l-Banner--img{
        height: 100%;
        object-fit: cover;
    }

    #customNav{
        display: flex;
        justify-content:left;
        padding-left: 15%;
    }

   
    
    .Content1{
        display: flex;
        grid-row: r1/r2;
        z-index: 2;
        position: absolute;
        flex-direction: column;
        .MainTitle{
            font-size: 3rem;
            color: #ffffff;
            padding-left: 15%;
            padding-right: 20%;
            font-weight: bold;
            width: 50%;
        }
        .Content{
            font-size: 1.3rem;
            //474747 gris
            //3519af azul

            // Estos de abajo se ven mejores que los de arriba
            //DEC495 se ve mejor este, me gusta
            //95B6DE este azul se ve bien
            //C4DFFF este azul claro pastel tambien
            //DEAFAB rosa pastel, este me gusto

            //95B6DE azul complementario dividido
            //8AAFDE


            //este queda C4DFFF
            //o este 95B6DE
            //8AAFDE
            //A0BCDE
            //95DCDE
            //3F4D5Emuy oscuro pero funcionaria
            //text-shadow: 0 0 2px #000000;
            color: #C4DFFF;
            -webkit-text-stroke: 0.2px #000000;
            font-weight: bold;
            text-align: center;
            margin-top: 20%;
            width: 100%;
            opacity:0;
        }
        
    }

    
    .c-u-ToggleMainNav{
        .c-u-ToggleNav1{
            height: 30px;
            width: 4%;
            border-bottom: 5px solid #ffffff;    
            position: absolute;
            right: 3%;
         }
         .c-u-ToggleNav2{
             height: 30px;
             width: 4%;
             border-top: 5px solid #ffffff;    
             position: absolute;
             right: 3%;
          }
          .c-u-ToggleNav3{
             height: 18px;
             width: 4%;
             border-bottom: 5px solid #ffffff;    
             position: absolute;
             right: 3%;
          }

          
    }
    
    
/**/
    .c-l-logoNav{
        position: absolute;
        top: 15px;
        left: 0%;
        height: 12%;
        width: 10%;
        transition: all 0.5s ease ;
        display: flex;
        justify-content: left;
    }

    .c-l-logoNav:hover{
        padding: 10px;
    }

    .c-u-Nav{
        //background-color: rgb(12, 14, 17);
        //animation-name: fadeIn;
        //animation-duration: 1s;
        //transition: all 1s ease;
        background: rgb(18, 22, 27);
    }
/*
    @keyframes fadeIn {
        from {
          opacity: 1;
          transform: translateX(0);
        }
        to {
          opacity: 0;
          transform: translateX(100);
        }
      }

    */
    
    .c-u-NavBarSliderMain{
     
        z-index: 3;
        .c-u-NavBarSlider1{
            height: 1%;
            width: 50px;
            position: absolute;
            top: 25%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider2{
            height: 1%;
            width: 5%;
            position: absolute;
            top: 33%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider3{
            height: 1%;
            width: 4%;
            position: absolute;
            top: 41%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider4{
            height: 1%;
            width: 3%;
            position: absolute;
            top: 49%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider5{
            height: 1%;
            width: 2%;
            position: absolute;
            top: 57%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider6{
            height: 1%;
            width: 1%;
            position: absolute;
            top: 65%;
            left: 3%;
            background: #ffffff;
        }
        
     }

}
