
@media only screen and (min-width:1024px) and (max-width: 1600px){
    
    .Home{
        display: grid;
        grid-template-columns: [x0] 70% [x1] 30%;
        grid-template-rows: [r1] 12% [r2] 80%;
    }

    
  
    .c-l-Banner{
        grid-column: -x1/x0;
        grid-row: r2;
        width: 55%;
        height: 75%;
        margin-left: 38%;
        z-index: 0;
        position: absolute;
        top:15%;
        .c-l-Banner--mask{
            background: #ffffff;
            opacity: 0.3;
            grid-column: -x1/x0;
            grid-row: r2;
            width: 96.7%;
            height:100%;
            margin-left: 12px;
            position: absolute;
            z-index: 1;
        }
    }

    .c-l-Banner--img{
        height: 100%;
        object-fit: cover;
    }

    #customNav{
        grid-column: x0;
        display: flex;
        justify-content:left;
        padding-left: 15%;
    }

    .Content1{
        z-index: 2;
        padding-left: 12%;
        grid-column: x0/x1;
        grid-row: r2;
        position: absolute;
        top:15%;

        .MainTitle{
            font-size: 5rem;
            color: #ffffff;
            //-webkit-text-stroke: 0.5px #000000;
            //text-shadow: 15px 20px 20px #000000;
            font-weight: bold;
            width: 70%;
        }
        .Content{
            font-size: 1.3rem;
            //474747 gris
            //3519af azul

            // Estos de abajo se ven mejores que los de arriba
            //DEC495 se ve mejor este, me gusta
            //95B6DE este azul se ve bien
            //C4DFFF este azul claro pastel tambien
            //DEAFAB rosa pastel, este me gusto

            //95B6DE azul complementario dividido
            //8AAFDE


            //este queda C4DFFF
            //o este 95B6DE
            //8AAFDE
            //A0BCDE
            //95DCDE
            //3F4D5Emuy oscuro pero funcionaria
            //text-shadow: 0 0 2px #000000;
            color: #C4DFFF;
            -webkit-text-stroke: 0.2px #000000;
            font-weight: 600;
            text-align: left;
            width: 35%;
        }
        
    }

    
    .c-u-ToggleMainNav{
        .c-u-ToggleNav1{
            height: 30px;
            width: 4%;
            border-bottom: 5px solid #ffffff;    
            position: absolute;
            right: 3%;
         }
         .c-u-ToggleNav2{
             height: 30px;
             width: 4%;
             border-top: 5px solid #ffffff;    
             position: absolute;
             right: 3%;
          }
          .c-u-ToggleNav3{
             height: 18px;
             width: 4%;
             border-bottom: 5px solid #ffffff;    
             position: absolute;
             right: 3%;
          }

          
    }
   

    .c-l-logoNav{
        position: absolute;
        top: 15px;
        left: 0%;
        height: 12%;
        width: 10%;
        transition: all 0.5s ease ;
        display: flex;
        justify-content: left;
    }

    .c-l-logoNav:hover{
        padding: 10px;
    }

    .c-u-Nav{
        //background-color: rgb(12, 14, 17);
        background: rgb(18, 22, 27);
    }

    
    
    .c-u-NavBarSliderMain{
        grid-row: r2;
        z-index: 3;
        .c-u-NavBarSlider1{
            height: 1%;
            width: 50px;
            position: absolute;
            top: 25%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider2{
            height: 1%;
            width: 5%;
            position: absolute;
            top: 33%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider3{
            height: 1%;
            width: 4%;
            position: absolute;
            top: 41%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider4{
            height: 1%;
            width: 3%;
            position: absolute;
            top: 49%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider5{
            height: 1%;
            width: 2%;
            position: absolute;
            top: 57%;
            left: 3%;
            background: #ffffff;
        }

        .c-u-NavBarSlider6{
            height: 1%;
            width: 1%;
            position: absolute;
            top: 65%;
            left: 3%;
            background: #ffffff;
        }
        
     }

}
